#module-timeline .item-timeline .text-content {
  word-break: break-all;
}

#module-timeline .post-add-comment-text-area .input-content {
  font-size: 14px;
  box-sizing: border-box;
  padding-right: 40px;
}

#section-timeline-create-card .timeline-assets {
  margin-top: -5px;
  font-size: 0;
}

#section-timeline-create-card .timeline-assets .item-asset {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-right: 5px;
}

#section-timeline-create-card .timeline-assets .item-asset img,
#section-timeline-create-card .timeline-assets .item-asset video {
  background-color: #DDD;
  display: block;
  width: 80px;
  height: 60px;
}

#section-timeline-create-card .timeline-assets .item-asset .handler-delete {
  position: absolute;
  right: 0;
  background-color: red;
  font-size: 12px;
  line-height: 2em;
  width: 26px;
  text-align: center;
  border-bottom-left-radius: 4px;
}

